.App {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to right,yellow,white,yellow);
  height: 100%;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
}

.error {
  color: red;
}

.response {
  margin-top: 20px;
}
